#forgrt1 {
	margin: 100px auto;
	width: 560px;
	padding: 10px;
}

#val_status {
	color:red;
	margin-left: 170px;
}

#forgrt1 h3 {
	text-decoration: underline;
	text-align: center;
}

#forgrt1 p {
	text-align: center;
}

#forgrt1 a:hover {
	color: seagreen;
}

.con {
	width: 220px;
	margin: 0 auto;
}

input {
	color: grey;
	outline: none;
	border-radius: 4px;
	padding: 15px 0 15px 10px;
	height: 20px;
}

.con input {
	margin-top: 15px;
	width: 220px;
}

.con .valueData {
	position: relative;
}

.con .valueData input {
	width: 100px;
	float: left;
	margin-right: 20px;
}

.con .valueData .getdata {
	color: white;
	height: 35px;
	background: seagreen;
	padding: 5px;
	width: 100px;
	float: left;
	margin-right: -23px;
	border: 1px solid seagreen;
}

.valueData p {
	position: absolute;
	font-size: 12px;
	right: -110px;
	top: 3px;
	border: 1px solid red;
	color: red;
	padding: 10px;
}

.con .next {
	color: white;
	width: 220px;
	padding: 5px;
	height: 35px;
	font-size: 20px;
	border: 0;
	background: seagreen;
}

#forgrt2 {
	margin: 100px auto;
	width: 560px;
	padding: 10px;
}

#forgrt2 h3 {
	text-decoration: underline;
	text-align: center;
}

#forgrt2 p {
	text-align: center;
}

#forgrt2 input {
	color: grey;
	outline: none;
	border-radius: 4px;
	padding: 5px;
	height: 30px;
	display: block;
}
#val_status1{
	color:red;
	margin-left: 150px;
}
#forgrt2 .resert {
	color: white;
	width: 220px;
	padding: 5px;
	height: 35px;
	font-size: 20px;
	border: 0;
	background: seagreen;
}