body {
	font-size: 16px;
	margin:0;
	padding:0;
	background: url("../images/b.jpg") no-repeat center;
	overflow: hidden; 
	
}

body a {
	text-decoration: none !important;
}

nav .navbar-brand {
	font-size: 24px;
}

.cont1 {
	display: block;
	height: 270px;
	position: relative;
}

.cont1 .forgetPass {
	color: white;
	position: absolute;
	right: 40px;
	bottom: 30px;
}

.cont1 .forgetPass a {
	color: white;
}

.cont1 .forgetPass a:hover {
	color: #5c88e8;
}

.cont2 {
	display: none;
	padding-bottom: 35px;
}

.wrap {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0.7;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 80;
	display: none;
}

.tab {
	height: 46px;
	width: 391px;
	font-size: 0;
	background-color: #f7f7f7;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
}

#user1, #user2 {
	display: block;
	background: url(../imgs/user.png) no-repeat 10px 12px;
	border: 1px solid #ccc;
	width: 306px;
	height: 40px;
	margin: 37px auto;
	padding-left: 35px;
}

#user1 {
	margin-bottom: 13px;
}

#user2 {
	margin-bottom: 15px;
}

#password1, #password2 {
	background: url(../imgs/password.png) no-repeat 10px 12px;
	border: 1px solid #ccc;
	width: 306px;
	height: 40px;
	margin: 0px 63px 15px 43px;
	padding-left: 35px;
}

#password1 {
	margin-top: 10px;
}

#email {
	background: url(../imgs/email.png) no-repeat 10px 12px;
	border: 1px solid #ccc;
	width: 306px;
	height: 40px;
	margin: 0px 63px 15px 43px;
	padding-left: 35px;
}

#confirPassword {
	background: url(../imgs/password.png) no-repeat 10px 12px;
	border: 1px solid #ccc;
	width: 306px;
	height: 40px;
	margin: 0px 63px 15px 43px;
	padding-left: 35px;
}

.box {
	width: 350px;
	height: 20px;
	margin-top: 15px;
	margin-left: 42px;
	margin-bottom: 10px;
}

.pop_login {
	display: none;
	overflow: hidden;
	z-index: 100;
	width: 390px;
	background-color: #444;
	margin-top: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -180px 0 0 -195px;
}

.login_btn, .reg_btn {
	width: 306px;
	height: 48px;
	background-color: #3f89ec;
	text-align: center;
	margin: -10px auto;
	border-radius: 3px;
	font-size: 16px;
	line-height: 48px;
	color: #fff;
	display: block;
	border: none;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
}

.login_btn:hover {
	background-color: #fff;
	color: #000;
	font-weight: 500;
}

.reg_btn:hover {
	background-color: #fff;
	color: #000;
	font-weight: 500;
}

.reg_btn {
	margin: 11px auto;
}

#check_box {
	width: 12px;
	height: 13px;
	float: left;
	margin: -10px auto;
	margin-right: 6px;
}

.box p {
	float: left;
	color: #fff;
	font-size: 12px;
	margin: -13px 28px;
}

.tab  label {
	width: 50%;
	height: 46px;
	display: inline-block;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #fff;
	background-color: #434356;
}

.line {
	background-color: #fff;
	width: 50%;
	height: 1px;
	position: absolute;
	bottom: 0;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.line_left {
	left: -50%;
}

#login:hover+.line_left {
	left: 0;
}

.line_right {
	left: 100%;
}

#reg:hover+.line_right {
	left: 50%;
}

#login:hover, #reg:hover {
	cursor: pointer;
	color: #fff;
}

.allow {
	background: url(../imgs/allow.png) no-repeat 0 0;
	height: 13px;
	display: inline-block;
	width: 16px;
	margin-left: 7px
}

.personmenu {
	
}

label.error {
	color: #fff;
	margin-left: 42px;
}

.error {
	color: red;
	margin-left: 42px;
	display: none;
}

.error_user, .error_password, .error_confirPassword, .error_email,
	.error_repeat {
	display: block;
	margin-bottom: 7px;
}
/*#menu{
	width: 100px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 30%;
	border: 2px solid #333;
}*/
/*#menu ul li{
	padding: 5px 10px;
	list-style: none;
}*/
#menu {
	width: 150px;
	height: 150px;
	background: #333;
	position: fixed;
	top: 50px;
	padding: 10px 10px;
	right: 86px;
	display: none;
}

#menu ul {
	padding-left: 0;
	list-style: none;
}

#menu ul li {
	width: 100%;
}

#menu ul li a {
	color: #ccc;
	padding: 10px 10px;
	display: inline-block;
	width: 100%;
	text-align: center;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	font-weight: bold;
}

#menu ul li a:hover {
	background: #777;
	color: #fff;
	font-size: 20px;
}



#contact {
	border-radius: 8px 0 0 8px;
	filter: alpha(opacity = 0.8);
	opacity: 0.8;
	background: gray;
	width: 40px;
	height: 100px;
	position: absolute;
	right: 0;
	border: 1px solid gainsboro;
}

#contact ul {
	padding: 0;
}

#contact a {
	text-decoration: none;
}
#contact ul li {
	color:white;
	list-style: none;
	display: block;
	width: 40px; 
	font-size:18px;
	height:20px;
	margin-top:2px;
	text-align: center;
	text-decoration: none;
}