a{ text-decoration: none;}
.wrap{margin:0 auto 0 auto; color: white;}
.tabs{height:40px;}
.tabs a{display:block;float:left;width:33.33%;color:#333;text-align:center;background:#eee;line-height:40px;font-size:16px;text-decoration:none;}
.tabs a.active{color:#fff;background:#333;border-radius:5px 5px 0px 0px;}
.swiper-container{background: ghostwhite;border-radius:0 0 5px 5px;width:100%;border-top:0;}
.swiper-slide{width:100%;background:none;color:#fff;}
.content-slide{padding:40px;}
.content-slide p{text-indent:2em;line-height:1.9;}
.swiper-container {margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */	z-index:1;}
.swiper-wrapper {position:relative;width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.tabs{
	
	width:83%;
	margin:0 auto;
	
}
#content{
	
	height:auto;
	
}


.marginCen{
	margin: 0 auto;
}
.content-slide-top{
	width: 88%;
	height: 40px;
	color: white;
	position: relative;
}
.content-slide-top .order{
	border: 1px solid black;
	width: 200px;
	height: 30px;
	padding: 5px;
	color: gray;
}

.content-slide-top .search{
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid grey;
	width: 50px;
	height: 32px;
	background: gainsboro;
	padding: 5px;
	color: white;
}
.content-slide-top .search:hover{
	border-radius: 5px;
	border: 1px solid green;
	color: white;
	background:black;
	width: 50px;
	height: 32px;
	padding: 5px;
}
.content-slide-top .fenye{
	position:absolute;
	right:0px;
	text-align:center;
	top:0px;
	width: 200px;
}
.content-slide-top .fenye a{
	background: gray;
	color: white;
	display: inline-block;
	width: 80px;
	height: 30px;
	padding: 5px;
	border-radius: 5px;
}
.content-slide-top .fenye a:hover{
	color: white;
	background:black;
}

.content-slide-main-header {
	padding: 10px 0;
	background: #101313;
	margin-top: 10px;
	border: 1px solid gray;
	width: 88%;
}
.content-slide-main-header table{
	width: 100%;
}
.content-slide-main-header table td{
	width: 10%;
	color: white;
	text-align: center;
}


.content-slide-main{
	margin-top: 10px;
	border: 1px solid black;
	width: 88%;
}
.content-slide-main-top{
	position: relative;
	background: #5b5f66;
	padding: 10px 0px;
	width: 100%;
}
.content-slide-main-top p{
	margin: 0;
	padding: 0;
	text-indent: 0.5em;
	font-size: 1.3em;
	font-weight: bold;
	color: black;	
}

.content-slide-main-top span{
	display: inline-block;
	text-indent: 2em;
	
}
.content-slide-main-top img{
	position: absolute;
	right: 10px;
	top: 10px;
}
.content-slide-main-main{
	background: white;
	width: 100%;
	color: black;
}
.content-slide-main-main table{
	width: 100%;
	height: 100px;
}
.content-slide-main-main table td{
	width: 10%;
	text-align: center;
}
.aa{
	width:88%;
	margin:0 auto;
	
}
.super_detail{
	text-decoration: none;
	text-align: left;
	text-indent: 2em;
}
.super_detail span{
	display: none;
}

.content-bottom{
	width: 88%;
	height: 40px;
	margin: 0 auto;
	margin-bottom: 20px;
	position: relative;
}
.content-bottom .tcdPageCode{ float:right;  center;color: black;  padding: 5px 0 0 0;}
.content-bottom .tcdPageCode a{display: inline-block;color: black;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.content-bottom .tcdPageCode a:hover{text-decoration: none;border: 1px solid black;}
.content-bottom .tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: black;background-color: gray;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
.content-bottom .tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: black;background: gray;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
.content-bottom .go{float:right; height: 40px; color: black; padding: 5px 0 0 30px;}
.content-bottom .go .ye {  text-align:center; color:black; width:30px; line-height:25px;border-radius: 4px; height: 25px; border: 1px solid gray;}
.content-bottom .go .actionGo{	
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid grey;
	width: 50px;
	height: 25px;
	background: gainsboro;
	color: white; }
.content-bottom .go .actionGo:hover{
		border-radius: 5px;
	border: 1px solid green;
	color: white;
	background:black;
}



