.mainWrap{
	position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #DDD;
    background: #FFF;
    width: 1180px;
    margin:0 auto;
    margin-top: 33px;
    margin-bottom: 40px;
}
.regesInfo{
	width: 550px;
    margin: 0 auto;
    padding: 50px 0;

}
li em {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    line-height: 30px;
    text-align: right;
    font: 14px/30px "Microsoft YaHei";
    color: #858585;
}
li input.midInput {
    border: 1px solid #DDD;
    width: 373px;
    height: 28px;
    padding-left: 5px;
    font-family: "Microsoft YaHei";
    line-height: 26px;
    vertical-align: middle;
}
li p.tip {
    margin-left: 5px;
    font: 12px/30px "Microsoft YaHei";
    color: #999;
}
.error {
    display: none;
    margin-left: 5px;
    font-size: 12px;
    color: #E55555;
}
.mainWrap p.confirm .button {
    display: inline-block;
    width: 180px;
    height: 36px;
    font: 14px/36px "Microsoft YaHei";
}
.mainWrap .button {
    position: relative;
    border: 1px solid #4EA8FF;
    border-radius: 3px;
    text-align: center;
    color: #FFF;
    background: #4EA8FF;
}
.mainWrap p.confirm {
    padding-left: 104px;
}
.mainWrap li {
    position: relative;
    min-height: 30px;
    margin-bottom: 20px;
    padding-left: 104px;
    line-height: 30px;
    font-size: 14px;
}
.mainWrap ol, ul, li {
    list-style: none outside none;
}
.mainWrap h3 {
    height: 40px;
    padding-left: 18px;
    font: 14px/40px "Microsoft YaHei";
    background: #F9F9F9;
}